html,
body {
    height: 100%;
}

.main-div {
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-family: 'Lato';
    font-size: 20;
}